:root {
  --nav: #fed136;
  --title: #222;
  --text: #777;
  --form: #fff;
  --form-text: #bbb;
}
body {
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--nav);
}
ul {
  list-style-type: none;
}
ul,
p,
h1,
h2,
h3,
button {
  padding: 0;
  margin: 0;
}
.container {
  width: 972px;
  padding: 0 15px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  justify-content: space-around;
}
.header-logo {
  text-align: center;
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 1.3px;
}
.main .container {
  padding-bottom: 119px;
}
.nav-list {
  display: flex;
  gap: 20px;
}
.nav-list-link {
  text-align: center;
  font-size: 14px;
  line-height: 2.92;
  text-transform: uppercase;
  position: relative;
}

.nav-list-link:hover::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: goldenrod;
  position: absolute;
  top: 30px;
  left: 0;
}

.services {
  margin-top: 92px;
}

.services-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 26px;
}

.services-list-item::before {
  content: '';
  display: block;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.services-list-item:first-child::before {
  background-image: url("../images/Commerce.svg");
}

.services-list-item:nth-child(2)::before {
  background-image: url("../images/ResponsiveWeb.svg");
}

.services-list-item:last-child::before {
  background-image: url("../images/WebSecurity.svg");
}

.services-title {
  color: #222;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 88px;
}

.services-name {
  color: #222;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 4.17;
  letter-spacing: -0.45px;
}

.services-text {
  color: #777;
  text-align: center;
  font-family: "Roboto Slab", serif;
  line-height: normal;
  letter-spacing: -0.35px;
}
.footer {
  background-color: #222;
}
.footer .container {
  padding: 92px 15px 115px;
}
.form {
  display: flex;
  flex-direction: column;
  height: 214px;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.footer-title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 116px;
}
.form-input {
  width: 455px;
  height: 50px;
  padding: 13px 21px 22px;
}
.form-input,
.form-textarea {
  color: var(--form-text);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.form-textarea {
  width: 458px;
  height: 212px;
  resize: none;
  padding: 14px 22px;
}
.footer-button {
  color: var(--form);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  width: 242px;
  height: 68px;
  background-color: var(--nav);
  border: none;
  margin: 0 auto;
  display: block;
}
